@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
body {
    background-color: #dce9e7;
}
h1 {
    font-family: 'Andika New Basic', sans-serif;
    
}

#memory {
    max-width:26rem;
}
#memory #timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight: bold;
    background-color: #bba7a7;
    border-radius: 12px;
    text-align: center;
}

#memory img {
    margin-bottom: 20px;
    border: thin solid black;
    width: 90px;
    height: 90px;
    border-radius: 6px;
}
#memory #footer {
    text-align: center;
}